language: cpp
jobs:
  include:
    - os: linux
      dist: trusty
      compiler: gcc
    - os: osx
      osx_image: xcode11.3.1
      compiler: clang
install:
  - mkdir gtest-build; cd gtest-build; cmake ../gtest -DCMAKE_INSTALL_PREFIX=../gtest-install
  - cmake --build . --target install; cd ..
  - export GTEST_ROOT=$PWD/gtest-install
script:
  - mkdir build; cd build; cmake ..
  - cmake --build .
